--find-links=https://girder.github.io/large_image_wheels GDAL
ee==0.2
geemap==0.13.4
geopandas
jupyter-server-proxy
localtileserver
matplotlib==3.5.1
nbserverproxy
numpy==1.22.3
plotly==5.7.0
streamlit==1.8.1
streamlit-option-menu==0.3.2