--find-links=https://girder.github.io/large_image_wheels GDAL
ee
geemap
geojson
geopandas
jupyter-client
jupyter-server-proxy
localtileserver
matplotlib
nbserverproxy
numpy
plotly
request
requests
streamlit
streamlit-lottie
streamlit-option-menu
